        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f0f2f5;
        }

        .page {
            display: flex;
            justify-content: space-between;
            padding: 40px;
        }
        .left { 
            flex: 1; 
            display: flex; 
            flex-direction:column;
            align-items: flex-start;
            justify-content: center;
        }
        
        .logo {
            width: 350px;
            margin-left: 206px;
            margin-top: 30px;
        }
        .slogan { font-size: 28px;
                color: #1c1e21;
                margin-left: 240px;
                margin-top: -10px;
                max-width: 400px;
                line-height: 28px;
        }
        .right { 
            flex: 1; 
            max-width: 395px;
            margin-top: 110px;   
            margin-right: 270px;  
        }
        .login-form { 
            display: flex; 
            flex-direction: column; 
            background: #fff; 
            padding: 20px; 
            border-radius: 8px; 
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
            border: 1px solid #ddd; 
            align-items: center;
        }
        .login-form input {
            width: 340px;
            padding: 12px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
        }
        .login-btn {
            width: 330px;
            background: #0866ff;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 12px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .login-btn:hover { background: #267def; }
        .forgot {
            text-align: center;
            color: #1877f2;
            font-size: 14px;
            text-decoration: none;
            margin-bottom: 20px;
        }
        .signup-btn {
            background: #42b72a; color: #fff; 
            font-size: 15px; 
            font-weight: bold; 
            padding: 8px 16px; 
            margin-top: 20px; 
            border: none; 
            border-radius: 4px; 
            cursor: pointer; 
            width: 200px;
            height: 50px;
        }
        .signup-btn:hover { background: #36a420; }
        .create-page { 
            text-align: center; 
            margin-top: 20px; 
            font-size: 14px; 
            color: #1c1e21; 
        }
        .create-page a {
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }